# Node.js and React .gitignore

# Node.js
node_modules/
npm-debug.log*
yarn-error.log*

# Build output
/dist
/build

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# env files
.env
.env.test

# React
/build

# Log files
logs/
*.log
